/* swiper builts */
.AdsSlick .swiper-pagination {
  bottom: 0;
  display: flex;
}
.AdsSlick .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent !important;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  transition: 0.3s;
  opacity: 1;
}
.AdsSlick
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 42px;
  background-color: var(--main-color) !important;
  border-radius: 10px;
  border: none;
}
@media (max-width:767px) {
  .AdsSlick .swiper-pagination .swiper-pagination-bullet{
    width: 5px;
    height: 5px;
  }
  .AdsSlick
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
  }
}
/* swiper builts */
